@model User

<script src="/lib/jquery/dist/jquery.js"></script>

<h1 class="bg-info text-white">Create User</h1>
<a asp-action="Index" class="btn btn-secondary">Back</a>
<div asp-validation-summary="All" class="text-danger"></div>

@*<form method="post">*@
<form asp-controller="Admin" asp-action="Create" method="post" class="form-horizontal" role="form">

    <div class="form-group">
        <label asp-for="Name">Username</label>
        <input asp-for="Name" class="form-control" />
    </div>
    <div class="form-group">
        <label asp-for="Email"></label>
        <input asp-for="Email" class="form-control" />
    </div>
    <div class="form-group">
        <label asp-for="Password"></label>
        <input asp-for="Password" class="form-control" />
    </div>
    <div class="form-group">
        <label class="control-label">Country</label>
        <select class="form-control" id="CountryId" name="CountryId" asp-for="Countries.Id"                
                asp-items="@(new SelectList(AppUserDetailsViewModel.CountriesList, "Id", "CountryName"))"></select>
    </div>
    <div class="form-group">
        <label class="control-label">City</label>
        <select class="form-control" id="CityId" name="CityId" asp-for="Cities.Id"
                asp-items="@(new SelectList(AppUserDetailsViewModel.CitiesList, "Id", "CityName"))"></select>
    </div>


    <button type="submit" class="btn btn-primary">Create</button>
</form>


<script>
    jQuery(document).ready(function () {
        $("#CountryId").change(function () {
            var id = $(this).find(":selected").val()
            var selectid = { "id": id }
            $.ajax({
                type: 'POST',
                url: "/Admin/GetSelectedValue",
                data: { id: id },
                dataType: "text",
                
                //contentType: 'application/json; charset=utf-8',
                success: function (data) {
                    // Variable data contains the data you get from the action method
                    alert("Success: " + id + "\n " + selectid + "\n " + data)
                },
                error: function (data){
                    alert("Error:\n id: " + id + "\nselectid: " + selectid + "\ndata: " + data)

                }
            });
        });
    }); 
</script>

<div id="data"></div>