@*@model Identity.Models.ViewModels.CountriesVM*@
@model User

<h1 class="bg-info text-white">Create User</h1>
<a asp-action="Index" class="btn btn-secondary">Back</a>
<div asp-validation-summary="All" class="text-danger"></div>

<form method="post">
    <div class="form-group">
        <label asp-for="Name">Username</label>
        <input asp-for="Name" class="form-control" />
    </div>
    <div class="form-group">
        <label asp-for="Email"></label>
        <input asp-for="Email" class="form-control" />
    </div>
    <div class="form-group">
        <label asp-for="Password"></label>
        <input asp-for="Password" class="form-control" />
    </div>
    <div class="form-group">
        <label asp-for="CountryId">Country</label>
        <select asp-for="CountryId" class="form-control" id="CountryName">
            @foreach (var country in Country.ShowCountries)
            {
                <option value="@country.CountryID">
                    @country.CountryName
                </option>
            }
        </select>
    </div>
    <div class="form-group">
        <label asp-for="CityId">Country</label>
        <select asp-for="CityId" class="form-control" id="CityName">
            @foreach (var city in City.ShowCities)
            {
                <option value="@city.CityID">
                    @city.CityName
                </option>
            }
        </select>
    </div>

    @*Testing nested droplist*@
    <label asp-for="CountryId "></label>
    <select asp-for="CountryId " asp-items="Model.CountryId" class="form-control" id="country-target"></select>
    <span asp-validation-for="CountryId " class="text-danger"></span>

    <label asp-for="CityId"></label>
    <select asp-for="CityId" asp-items="Model.CityId" class="form-control" id="city-target"></select>
    <span asp-validation-for="CityId" class="text-danger"></span>

    <button type="submit" class="btn btn-primary">Create</button>
</form>