@model Identity.Models.City

@{
    ViewData["Title"] = "Create";
}

<h1 class="bg-info text-white">Add City</h1>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="CityName" class="control-label"></label>
                <input asp-for="CityName" class="form-control" />
                <span asp-validation-for="CityName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label class="control-label">Country</label>
                <select class="form-control" id="CountryID" name="CountryID"
                        asp-for="CountryID"
                        asp-items="@(new SelectList(AppUserDetailsViewModel.CountriesList, "Id", "CountryName" ))"></select>
                <span asp-validation-for="CountryID" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a class="btn btn-primary" asp-action="Index">Back to List</a>
</div>

